@font-face {
  font-family: 'pixel';
  src: url('font.ttf');
}

div.hidden {
  display:none;
  z-index: -1;
}

.firstBox {
  font-family: 'Arial';
  line-height: 50px;
  border: 2px solid black;
  background-color: white;
  opacity:0.9;
  padding: 30px;
  left: 28%;
  top: 20%;
  z-index: 100;
  /*display: flex;*/
  position: absolute;
  /*align-self: center;*/
  /*flex-wrap:wrap;
  flex-direction: column;*/
}
.firstBox > div {
  margin: 10px;

}
.firstBox > .title {
  text-align: center;
}

.p1instructions > span {
  color: red;
}
.p2instructions > span {
  color: blue;
}
.bothPlayersInstructions > span {
  font-weight: bold;
}

button {
  padding: 7px;
  display: block;
  margin: 0 auto;
  background-color: grey;
  border: none;
}

.hitSpaceText {
  font-size: 12px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

.playerOneContainer, .partition, .playerTwoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerOneStatusBar, .playerTwoStatusBar {
  border: 2.5px solid black;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  width: 340px;
  height: 30px;
}

.playerScreens {
  display: flex;
  justify-content: space-around;
}

.playerOneBox, .playerTwoBox {
  border: 1px solid white;
  width: 415px;
  height: 415px;
  margin: 5px;
  transition: all 1s ease;
  position: relative;
}

.divider {
  border: 1px solid black;
  background-color: black;
  width:1px;
  height: 430px;
}

.card {
  border: 2.5px solid black;
  border-radius: 8px;
  width: 77px;
  height: 77px;
  margin: 2px;
}

.back, .front {
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front img {
  height: 64px;
}

.red {
  background-color: red;
  transition: 0.1s ease;
}
.blue {
  background-color: blue;
  transition: 0.1s ease;
}


.row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9, .row10 {
  display: flex;
}

.scoreboardContainer, .timerContainer {
  border: 2.5px solid black;
  border-radius: 8px;
  font-family: 'Arial';
  font-size: 20px;
  width: 80px;
  margin-top: 30px;
  /*padding: 20px;*/
  text-align: center;
  position: relative;
}

.white1 {
  background-color: white;
  transition: 0.1s ease;
}
.white2 {
  background-color: white;
  transition: 0.1s ease;
}

.rotate90Clockwise {
  transform:rotate(90deg);
  transition-duration:1s;
}

.rotate90CounterClockwise {
  transform:rotate(-90deg);
  transition-duration:1s;
}

.winner {
  border: 1px solid black;
  border-radius: 8px;
  font-size: 16px;
  text-align: left;
  padding: 14px;
  width: 340px;
  height: 30px;
}

.playerOneBoxBackground, .playerTwoBoxBackground {
  width: 99%;
  height: 97%;
  position: absolute;
  background-position: center;
  /*top: 0;
  left: 0;*/
}
.bombEffect {
    -webkit-animation-name: bombEffect;
    -webkit-animation-duration: 800ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes bombEffect {
    0% {
        background-image: url("./img/bomb.png");
        background-repeat: no-repeat;
        opacity:0.7;
    }
    100% {
        background-image: url("./img/bomb.png");
        background-repeat: no-repeat;
        opacity: 0;
    }
}
.goneEffect {
    -webkit-animation-name: goneEffect;
    -webkit-animation-duration: 800ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes goneEffect {
    0% {
        background-image: url("./img/gone.png");
        background-repeat: no-repeat;
        opacity:0.7;
    }
    100% {
        background-image: url("./img/gone.png");
        background-repeat: no-repeat;
        opacity: 0;
    }
}
.xrayEffect {
    -webkit-animation-name: xrayEffect;
    -webkit-animation-duration: 800ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes xrayEffect {
    0% {
        background-image: url("./img/xray.png");
        background-repeat: no-repeat;
        opacity:0.7;
    }
    100% {
        background-image: url("./img/xray.png");
        background-repeat: no-repeat;
        opacity: 0;
    }
}
.slowEffect {
    -webkit-animation-name: slowEffect;
    -webkit-animation-duration: 800ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes slowEffect {
    0% {
        background-image: url("./img/slow.png");
        background-repeat: no-repeat;
        opacity:0.7;
    }
    100% {
        background-image: url("./img/slow.png");
        background-repeat: no-repeat;
        opacity: 0;
    }
}
.shuffleEffect {
    -webkit-animation-name: shuffleEffect;
    -webkit-animation-duration: 800ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes shuffleEffect {
    0% {
        background-image: url("./img/shuffle.png");
        background-repeat: no-repeat;
        opacity:0.7;
    }
    100% {
        background-image: url("./img/shuffle.png");
        background-repeat: no-repeat;
        opacity: 0;
    }
}
.rotateEffect {
    -webkit-animation-name: rotateEffect;
    -webkit-animation-duration: 800ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes rotateEffect {
    0% {
        background-image: url("./img/recycle.png");
        background-repeat: no-repeat;
        opacity:0.7;
    }
    100% {
        background-image: url("./img/recycle.png");
        background-repeat: no-repeat;
        opacity: 0;
    }
}


@-webkit-keyframes matched {
    0% {
        background-color: Green;
        opacity:0.7;
    }
    100% {
        background-color: Green;
        opacity: 0;
    }
}

@-webkit-keyframes bomb {
    0% {
        background-color: Red;
        opacity:0.7;
    }
    100% {
        background-color: Red;
        opacity: 0;
    }
}

.flashGreen {
    -webkit-animation-name: matched;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.flashRed {
    -webkit-animation-name: bomb;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.playerOneScoreBackground, .playerTwoScoreBackground {
  width: 99%;
  height: 97%;
  position: absolute;
  top: 0;
  left: 0;
}

.playerOneScore, .playerTwoScore {
  background: rgba(255, 255, 255, 0);
}
